.eventsSection{
  margin-left:25%;
}
.card{
  margin-top:-176px;
  height: 354px;
  width:396px;
  background-color: rgb(252, 249, 249);
  float:left;
  box-shadow: 5px 5px 10px rgb(77, 44, 44);
  margin-right: 6%;
}
h1{
text-align: center;
    font-family: montserrat-bold,sans-serif;
    font-size: .6 rem;
    color: #220505;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    bottom:283px;
}
img{
  width:355px;
  height: 265px;
  margin:20px;
  margin-bottom: 0;
}
p{
  margin:20px;
  text-align: center;
}

@media screen and (max-width: 55em) and (min-width:45em) {
  h1{
    text-align: center;
    font-family: montserrat-bold,sans-serif;
    font-size: 1.2rem!important;
    color: #220505;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    }
  .card{
    height: 360px;
    width: 342px;
    background-color: rgb(252, 249, 249);
    float: left;
    box-shadow: 5px 5px 10px rgb(77, 44, 44);
    margin-right: 10%;
  }
  img{
    width: 295px;
    height: 271px;
  }
  .eventsSection{
    margin-left: 20%;
    margin-bottom: 1138px;

  }
}

@media screen and (max-width: 45em) {
  h1{
    text-align: center;
    font-family: montserrat-bold,sans-serif;
    font-size: 1.2rem!important;
    color: #220505;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    bottom: -45px;
    }
  .card{
    margin-top: 27%;
    height: 393px;
    width: 342px;
    background-color: rgb(252, 249, 249);
    float: left;
    box-shadow: 5px 5px 10px rgb(77, 44, 44);
    margin-right: 10%;
  }
  img{
    width: 295px;
    height: 271px;
  }
  .eventsSection{
    margin-left: 8%;
    margin-bottom: 1138px;

  }
}