<h1>Gallery</h1>
<div class="row">
<div class="grid">
  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
      <ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>
    </figcaption>
  </figure>

  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
      <ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>    </figcaption>
  </figure>

  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
<ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>    </figcaption>
  </figure>
</div>
<div class="grid">
  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
<ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>    </figcaption>
  </figure>
  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
<ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>    </figcaption>
  </figure>

  <figure class="effect-apollo">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/30729713_1045791118895461_290859286978887680_n.jpg?_nc_cat=101&_nc_ht=scontent.fpat1-1.fna&oh=a1ef11890b6cfaa351ecbb30ade6e62c&oe=5C82CF7A" alt="img22" />
    <figcaption>
      <p class="name">Strong <span>Apollo</span></p>
<ul class="social-link">
        <li>
          <a href="https://www.facebook.com/shivang.goyal2" class="fa fa-facebook" target="_blank"></a>
        </li>
        <li>
          <a href="mailto:gshivang@iitk.ac.in" class="fa fa-envelope"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shivanggoyal/" class="fa fa-linkedin" target="_blank"></a>
        </li>
      </ul>    </figcaption>
  </figure>
</div>
</div>