@import url('https://fonts.googleapis.com/css?family=Pacifico');


.embedsocial-album{
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 100px;

}
h1{
	text-align: center;
		font-family: montserrat-bold,sans-serif;
		font-size: .6 rem;
		color: #220505;
		text-transform: uppercase;
		letter-spacing: .3rem;
		position: relative;
		bottom:283px;
	}
body {
	background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
div{
	position: relative;
	bottom:200px;
}