@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
*{
	overflow: hidden;
}
.card{
    height: 430px;
    width:500px;
    background-color: rgb(252, 249, 249);
    box-shadow: 5px 5px 10px rgb(77, 44, 44);
  }
body {
	color: rgb(124, 90, 90);
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}
.inventory-body {
	min-width: 100%;
	min-height: 100%;
	position: relative;
    bottom:219px;
	}

a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

section {
	padding: 1em;
	text-align: center;
}

.content {
	margin: 0 auto;
	max-width: 1000px;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}



/* @media screen and (max-width: 25em) {
	
} */
.heading{
	text-align: center;
	padding-top: 44px;
    font-family: montserrat-bold,sans-serif;
	position: relative;
	bottom:2px;
    text-transform: uppercase;
	letter-spacing: .3rem;
	
}
.grid {
	position: relative;
	clear: both;
    margin: -39px auto;
    padding: 0px 0 10.5em;
    margin-bottom: -200px;
    max-width: 1000px;
	list-style: none;
	text-align: center;
}

.row{
    position: relative;
	bottom: -19px;
	left:8.1%;

}
p.name{
	display: inline-block;
    position: relative;
    padding: 4px;
    height: 32px;
    width: 100%;
    bottom: 234px;
    font-size: 16px!important;
	background-color: rgb(255, 255, 255);
	color:rgb(32, 30, 30);
	box-shadow: 4px 0px 10px rgb(129, 103, 103);
    /* opacity: 0;
    transition: opacity 0.35s; */
}
.row1{
	position: relative;
    margin-bottom: -337px;
}
.row2{
	 position: relative;
	left:8.1%;
	bottom: 364px;
    margin-bottom: -30%;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
    overflow: hidden;
	margin: 44px 1%;
    min-width: 170px;
    max-width: 275px;
    max-height: 285px;
    width: 48%;
    height: auto;
    margin-left: 45px;
    background: #3085a3;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgb(77, 44, 44);

}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.sourabhImg{
	position: relative;
	bottom: 38px;
	transform: scale(1,1)!important;
}
.sarthakImg{
	position: relative;
    top: 121px;
    left: 35px;
    transform: scale(1.6,1.6)!important;
}
.abhinavImg{
    position: relative;
    transform: scale(1.7,1.7)!important;
	top: 17px;
	
}
.vikasImg{
	position: relative;
    top: 110px;
    transform: scale(1.6,1.6)!important;
}
.sparshImg{
	position: relative;
	top: 0px;
	transform: scale(1,1)!important;
}
.grid figure figcaption {
	padding: 0em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p{
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-apollo {
	background: #3498db;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo .attribute {
	position: 0;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.effect-apollo ul {
	position: relative;
	right: 11%;
	bottom:20px!important;
	color:white !important;
	margin: 80% -40%;
    padding: 0;
	 min-width: 127%; 
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
li{
	display: inline;
	padding-left: 40px;

}
ul li a {
	font-size: .8em;
}
.fa{
	padding: 7px;
	width: 40px;
	height:40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
	background: #3B5998;
	color: white;
	transition:all .4s;
  }
  .fa-envelope {
	background: #dd4b39;
	color: white;
	transition:all .4s;
  }
  .fa-linkedin {
	background: #007bb5;
	color: white;
	transition:all .4s;
  }
  .fa-facebook:hover {
	color: #3B5998;
	background: white;
  }
  .fa-envelope:hover {
	color: #dd4b39;
	background: black;
  }
  .fa-linkedin:hover {
	color: #007bb5;
	background: white;
  }
figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

/* figure.effect-apollo:hover p{
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
} */
figure.effect-apollo:hover ul{
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}



@media screen and (max-width: 45em) {
	
	.inventory-body {
		min-width: 100%;
		min-height: 100%;
		position: relative;
		bottom:0px;
		}
	p.name{
		display: inline-block;
		position: relative;
		padding: 7px;
		height: 25px;
		width: 100%;
		bottom: 100px;
	
		font-size: 12px!important;
		background-color: rgb(255, 255, 255);
		color:rgb(32, 30, 30);
		/* opacity: 0;
		transition: opacity 0.35s; */
	}
	.grid figure {
		height: 234px;
	}
	.sourabhImg{
		position: relative;
		bottom: 0px;
		transform: scale(1,1)!important;
	}
	.sarthakImg{
		position: relative;
		top: 73px;
		left: 35px;
		transform: scale(1.6,1.6)!important;
	}
	.abhinavImg{
		position: relative;
		transform: scale(1.7,1.7)!important;
		top: 17px;
		
	}
	.vikasImg{
		position: relative;
		top: 68px;
		transform: scale(1.6,1.6)!important;
	}
	.sparshImg{
		position: relative;
		top: 0px;
		transform: scale(1,1)!important;
	}
	
	.grid{
		position: relative;
		clear: both;
		margin-left: 17%;
		padding: 0px 0 -0.5em;
		max-width: 1000px;
		list-style: none;
		text-align: center;
	}
	.fa{
		padding: 7px;
		width: 32px;
		height: 32px;
		}
	figure.effect-apollo ul {
		position: relative;
		right: 3%;
		bottom:-32px!important;
	}
	ul li a{
		font-size:.6em;
	}
	li{
		padding-left:2px;
	}
    .row{
		position: relative;
		bottom: 52px;	}
	.row2{
			position: relative;
		   left:0px;
		   bottom: 441px;
    margin-bottom: -187%;

	   }
	  .responsive{
		margin-bottom: -344px;
    position: relative;
    bottom: 0px;
    left: 0;
	  }
	  .footer-bottom{
		  display: none;
	  }
}