
<div id="st-container" class="st-container">

    
        <nav class="st-menu st-effect-5" id="menu-5">
          <h2 class="sideHeading">E-CELL</h2>
          <ul>
            <li><a  routerLink="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
            <li><a  href="#about"><i class="fa fa-question"></i>&nbsp;About</a></li>
            <li><a  routerLink="events"><i class="fa fa-superpowers"></i>&nbsp;Events</a></li>
            <li><a  routerLink="gallery"><i class="fa fa-image"></i>&nbsp;Gallery</a></li>
            <li><a  routerLink="stuffs"><i class="fa fa-image"></i>&nbsp;College Things</a></li>
            <li><a  routerLink="team"><i class="fa fa-users"></i>&nbsp;Team</a></li>
            <li><a  href="#contact"><i class="fa fa-phone"></i>&nbsp;Contact</a></li>
          </ul>
        </nav>
      
        
        <div class="st-pusher">
          <div class="st-content">
            <!-- this is the wrapper for the content -->
            <div class="st-content-inner">
              <!-- extra div for emulating position:fixed of the menu -->
              <!-- Top Navigation -->
              <div class="main clearfix">
                <div id="st-trigger-effects" class="column">
                      <button class="sidenav-button" id="nav-icon1" data-effect="st-effect-5">
                          <span data-effect="st-effect-5"></span>
                          <span data-effect="st-effect-5"></span>
                          <span data-effect="st-effect-5"></span>
                      </button>
                </div>
                
              </div>
              <router-outlet (activate)="changeOfRoute()" class="d-flex flex-column h-100"></router-outlet>
            </div>
          </div>
        </div>
      </div>
