<div class="wallpaper">
    <div text-align="center" class="middle_content">
      <p class="fadeInUp animated slogan">THINK.FEEL.COLLABORATE</p>
      <h1 class="fadeInUp animated delay-1">Entrepreneurship Cell</h1>
      <h2 class="fadeInUp animated delay-2">IET DAVV</h2>
      <div class="explore fadeInUp animated delay-3"><a href="#about">EXPLORE</a></div>
</div>
<a href="#about"><span  class="tcon-indicator fadeInUp animated delay-4" aria-label="scroll" aria-hidden="true">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="tcon-svgchevron" viewBox="0 0 30 36">
          <path class="a3" d="M0,0l15,16L30,0"></path>
          <path class="a2" d="M0,10l15,16l15-16"></path>
          <path class="a1" d="M0,20l15,16l15-16"></path>
        </svg>
      </span></a>
    <span class="news fadeInRight animated delay-3" (click)='openDialog(newsContent)'>Latest News</span>
      
</div>

  <section id="about">

		<div class="row about-wrap">
			<div class="col-full">

				<!-- <div class="about-profile-bg"></div> -->

				<div class="intro">
					<h3 class="animate-this about fadeInUp animated">ABOUT US</h3>
					<p class="aboutContent animate-this fadeInUp animated">
                        It is often said that "science of today is technology of tomorrow". And we, <span>E-Cell, IET DAVV</span> 
                        are a bunch of young engineers determined to achieve this very goal. Entrepreneurs with a technical 
                        background like our students have an amazing capability to innovate both on the technical and business fronts. 
                        E-Cell,  IET DAVV aims at fostering such capability and provides all possible support to convert their dreams 
                        and aspiration into reality. We are here to support the aspiring entrepreneurs of the future and also to drive-in 
                        the real sense of ‘entrepreneurship’ in those, who are new to this entrancing word.
                        </p>
				</div>

			</div>
			<!-- end col-full  -->
		</div>
		<!-- end about-wrap  -->

    </section>
    <section id="services">

            <div class="overlay">
            </div>
            <div class="gradient-overlay"></div>
    
            <div class="row section-intro with-bottom-sep animate-this fadeInUp animated">
                <div class="col-full">
    
                    <h1>What We Do.</h1>
                    <h3><img src='https://mbtskoudsalg.com/images/vision-png-8.png'><br>VISION</h3>
                    <p class="whatWeDoContent">
                        A budding entrepreneur never gives up 5 landmarks – perspire, explore, create, volunteer, lead. We at E-Cell make sure that we become his ladder at each of these landmarks.The Entrepreneurship Cell aims to ignite creative thinking and nurture entrepreneurial instincts in students. The Cell hopes to achieve this by conducting stimulating workshops, competitions and interactive sessions with eminent personalities who are role models when it comes to business development.
                        The Cell's ultimate vision is to create independent business persons out of interested students so that they not only become self-employed but also become capable of providing gainful, fulfilling employment to others and thereby benefit society at large. 
                    </p>
                    <h3><img class="mission" src='https://mbtskoudsalg.com/images/vision-vector-1.png'><br>MISSION</h3>
                    <p class="whatWeDoContent">
                        To foster and sustain the spirit of Entrepreneurship amongst students  and provide them with a platform to convert their ideas to businesses.
                    </p>
                </div>
                <!-- end col-full -->
            </div>
            <!-- end row -->
    
        </section>
        <footer id="contact">
                <div class="footer-main">
        
                    <div class="row">
        
                        <div class="col-five tab-full footer-about">
        
                            <h4 class="h05">E-Cell, IET DAVV.</h4>
                            <div class="animated fade-up slogan2">
                                <p>THINK
                                    <br>FEEL
                                    <br>COLLABORATE
                                </p>
        </div>
                        </div>

                        <!-- end footer-about -->
        
                        <div class="col-three tab-full footer-social">
        
                            <h4 class="h05">Follow Us.</h4>
        
                            <ul class="list-links">
                                <li>
                                    <a href="https://www.facebook.com/ecell.ietdavv/"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
                                </li>
                                <!-- <li>
                                    <a href="#"><i class="fa fa-bolt"></i>&nbsp;
                                        Messenger
                                    </a>
                                </li> -->
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i>
                                        LinkedIn
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i>
                                        Instagram
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i>&nbsp;YouTube</a>
                                </li> -->
                            </ul>
        
                        </div>
                        <!-- end footer-social -->
        
                        <div class="col-four tab-full footer-subscribe end">
        
                            <h4 class="h05">Get Notified.</h4>
        
                            <p>Be the first to know about the activities of E-Cell.</p>
        
                            <div class="subscribe-form">
                                <form class="example-form">

                                    <mat-form-field class="example-full-width">
                                      <input type="tel" matInput placeholder="Type email" >
                                      <mat-icon matSuffix>mail_outline</mat-icon>
                                    </mat-form-field>
                                    
                                  </form>
                            </div>
        
                        </div>
                        <!-- end footer-subscribe -->
        
                    </div>
                    <!-- end row -->
                    <span class="bug fadeInRight animated delay-3" (click)='openDialog(bugContent)'><i class="fa fa-bug"></i></span>

                </div>
                <!-- end footer-main -->
                <app-footer class="mt-auto"></app-footer>

                
        
          
        
            </footer>
                
            <ng-template #newsContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <p style="color:black;text-align: center" mat-dialog-title> Latest News </p>
                  <span type="button" class="close" aria-label="Close" (click)="cross_click()">
                    <span aria-hidden="true">&times;</span>
                                </span>
                            </div>
                <div class="modal-body">
                  <div *ngFor="let event of events;let i = index">
                     <b> <p>{{ i+1 }}. {{ event }}</p></b>
                </div></div>
                
              </ng-template>
              
              <ng-template #bugContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <p style="color:black;text-align: center" mat-dialog-title> OPEN SOURCE </p>
                  <span type="button" class="close" aria-label="Close" (click)="cross_click()">
                    <span aria-hidden="true">&times;</span>
                                </span>
                            </div>
                <div class="modal-body">
                  <p style="letter-spacing: .4px;
                  word-spacing: 3px;
                  line-height: 45px; text-align: center"><b>Hey there buddy! If you have found any kind of bugs in our site then you are more than welcome to show up to our 
                      <a target="_blank" href="https://github.com/SarthakSri98/E-Cell-IET-DAVV">repository</a> on github and contribute.</b>

                  </p>  
                </div>
                
              </ng-template> 
        
                
        
